html,body {
    background-color: #222831; 
}
.thicc-yellow-border {
box-sizing: border-box;
border: 15px solid #ffdd57;
padding: 0;
margin: 10px;
border-radius: 5px;
}
.event-card {
    background-color: #2b3039;
}
.dope-ass-counter-font-for-view-counter {
    font-family: 'Charmonman', cursive;
}