<div class="demo-preview" style="margin-top: 50px;">
    <div class="progress progress-striped active">
        <div role="progressbar " style="width: 100%;" class="progress-bar progress-bar-warning"><span>&nbsp;</span>
        </div>
    </div>
</div>

<section class="hero has-carousel is-medium">

    <div class="hero-body ">
        <div id="carousel-demo" class="hero-carousel">
            {% if gallery %}
            {% for image in gallery %}
            <div class="item-1">
                <img id="{{image.id}}" src="{{image.src}}" onclick="modal_open('{{image.id}}')">
            </div>
            {% endfor %}
            {% else %}
            <!-- dummy code -->
            <div class="item-1">
                <img id="img-1" src="https://www.dropbox.com/s/2seo3f6mchedn4s/Industrial%20visit.png?raw=1"
                    onclick="modal_open('img-1')">
            </div>
            <div class="item-2">
                <img src="https://www.dropbox.com/s/gypl6o4rl2g5lm1/Dhriti.png?raw=1">
            </div>
            <div class="item-3">
                <img src="https://www.dropbox.com/s/ixf9zucfc4k1gs6/ML%20Workshop%20Rubix.png?raw=1">
            </div>
            <div class="item-1">
                <img src="https://www.dropbox.com/s/gypl6o4rl2g5lm1/Dhriti.png?raw=1">
            </div>
            <div class="item-2">
                <img src="https://www.dropbox.com/s/2seo3f6mchedn4s/Industrial%20visit.png?raw=1">
            </div>
            <div class="item-3">
                <img src="https://www.dropbox.com/s/gypl6o4rl2g5lm1/Dhriti.png?raw=1">
            </div>
            <!-- dummy code ends -->
        </div>
        {% endif %}
    </div>
</section>
<div class="demo-preview" style="margin-bottom: 50px;">
    <div class="progress progress-striped active">
        <div role="progressbar " style="width: 100%;" class="progress-bar progress-bar-warning"><span>&nbsp;</span>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-background" onclick="modal_close()"></div>
    <div class="modal-content">
        <p class="image">
            <img id="lightbox-img" src="https://www.dropbox.com/s/2seo3f6mchedn4s/Industrial%20visit.png?raw=1" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="modal_close()"></button>
</div>


<style>
    
</style>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>

    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 3,
        infinite: true,
        pagination: false
    });

    function modal_open(id) {
        img = document.getElementById(id).src;
        document.getElementById("lightbox-img").src = img;
        document.getElementsByClassName("modal")[0].classList.add("is-active")
    }

    function modal_close() {
        document.getElementsByClassName("modal")[0].classList.remove("is-active")
    }
</script>