<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Technieks 2020{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.PNG"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/layout.css">
    {% block style %}
    {% endblock %}
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-warning" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="static/images/logo.png" style="margin-right: 10px;"><strong>Technieks</strong>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" href="/gallery">
                    Gallery
                </a>

                <a class="navbar-item" href="/events">
                    Events
                </a>
                <a class="navbar-item" href="/scoreboard">
                    Scoreboard
                </a>
                <a class="navbar-item" href="/contact">
                    Contact
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger" href="/live">
                            <strong>Live</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock %}
    <footer class="footer has-background-dark">
        <div class="content has-text-centered has-text-warning">
            <h4 id="view-counter" class="has-text-warning"></h4>
        </div>
    </footer>
</body>
<script src="static/js/numberToWord.js"></script>
<script>
    document.getElementById('view-counter').innerHTML = 'This website has been visited <i class="is-size-3 dope-ass-counter-font-for-view-counter">' + toWords(69420) + '</i> times.';
</script>
{% block script %}
{% endblock %}

</html>