
<nav id="main-nav-wrap">
  <ul class="main-navigation">
    <li><a  href="/#top">Home</a></li>
    <li><a  href="/about">About</a></li>
    <li><a href="/events">Events</a></li>
    <li><a  href="/#scoreboard">Scoreboard</a></li>
    <li><a  target="_blank" href="http://www.yepdesk.com/technieks-run-2020">techNIEks Run</a></li>
    <li><a  href="/gallery">Gallery</a></li>
    <li><a  href="/contact">Contact</a></li>
    <li><a  href="http://bit.ly/techNIEks20" target="_blank">Feedback</a></li>

  </ul>
</nav>
